#selectbox {
    position: absolute;
    margin-top:141px;
    margin-left: 330px;
}

/* Automenu */
#fig3_automenu_div {
    position: absolute;
    margin-top:140px;
    margin-left: 550px;
}