
/* ADD YOUR STYLES HERE */

body {
  font-family: 'Raleway', sans-serif;
  background-color: #1f1f1f;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
  overflow: hidden;
}

.parent {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.parent section {
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
  scroll-snap-align: start;
  position: relative;
}

/*img {*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  width: border-box;*/
/*  height: fit-content;*/
/*}*/