/*.masthead {*/
/*    height: 100vh;*/
/*    min-height: 500px;*/
/*    background-image: url("/backgrounds/1.png");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    /*font-family: "Berlin Sans FB", serif;*/
    background-color: #424242;
}

#wrap {
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.container {
    scroll-snap-type: y mandatory;
    max-width: 1519px;
    max-height: max-content;
}

section {
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-size: 10vmin;
    /*padding: 1em;*/
    color: white;
    background-position: center center;
    background-size: cover;
    width:100%;
}

#paper {
    position: absolute;
    margin-top: 100px;
    margin-left: 560px;
}

.notbold{
    font-weight:normal
}

.red {
    color: #ff004c;
}

.green {
    color: #1ecd95;
}

.center {
    text-align: center;
}

.row {
    padding: 10px;
}

/*.col-6 {*/
/*    border: 2px solid white;*/
/*    padding: 5px;*/
/*}*/

.child {
    scroll-snap-align: start;
}

section#child1 {
    background-image: url("/backgrounds/1.png");
    background-size: 100%;
    text-align: center;
}

section#child2 {
    /*background-image: url("/backgrounds/2.png");*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/backgrounds/2.png');
    background-color: #565656;
    background-size: cover;
}

section#child3 {
    background-image: url("/backgrounds/3.png");
    font-size: 32px;
    background-color: #749b62;
    padding-left: 20px;
}

section#child4 {
    font-size: 41px;
    text-align-last: center;
    background-image: url("/backgrounds/4.png");
}

section#child5 {
    background-image: url("/backgrounds/5.PNG");
    font-size: 40px;
    text-align: center;
}

section#child6 {
    background-image: url("/backgrounds/grey.png");
    /*background-color: #565656;*/
}

section#child7 {
    background-image: url("/backgrounds/grey.png");
}

section#child8 {
    background-image: url("/backgrounds/grey.png");
}

section#child9 {
    background-image: url("/backgrounds/9.PNG");
}

section#child10 {
    background-image: url("/backgrounds/grey.png");
}

section#child11 {
    background-image: url("/backgrounds/grey.png");
    padding: 120px;
}

section#child12 {
    background-image: url("/backgrounds/9.PNG");
}

section#child13 {
    background-image: url("/backgrounds/grey.png");
}

section#child14 {
    background-image: url("/backgrounds/grey.png");
    padding: 120px;
}

section#child15 {
    background-image: url("/backgrounds/9.PNG");
}

section#child16 {
    background-image: url("/backgrounds/grey.png");
}

section#child17 {
    background-image: url("/backgrounds/grey.png");
    padding: 120px;
}

section#child18 {
    background-image: url("/backgrounds/grey.png");
    padding: 120px;
}

section#child19 {
    background-image: url("/backgrounds/grey.png");
}

section#child20 {
    background-image: url("/backgrounds/grey.png");
    padding: 120px;
}

section#child21 {
    background-image: url("/backgrounds/grey.png");
    padding: 100px;
}

section#child22 {
    background-image: url("/backgrounds/grey.png");
    padding: 120px;
}

section#child23 {
    background-image: url("/backgrounds/grey.png");
}

section#child24 {
    background-image: url("/backgrounds/grey.png");
    padding: 160px;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 35px;
}

h6 {
    font-size: 45px;
}

h7 {
    font-size: 35px;
}

h8 {
    font-size: 25px;
    margin-bottom: 1px;
}

h9 {
    font-size: 50px;
    text-align: center;
}

h10 {
    font-size: 45px;
    text-align: center;
}